
th label, th input[type="checkbox"] {
    vertical-align: middle;
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    background-color: #eee;
}

input[type="checkbox"]:checked {
    background-color: #007BFF;
}

input[type="checkbox"]:hover {
    background-color: #ddd;
}


#upload-form input[type="submit"] {
    height: 32px;
    padding: 6px 12px;
    font-size: 13px;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #008CBA; /* Blue */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-form {
    display: flex;
    gap: 10px;
    max-width: 600px;
    margin: 0 10px;
    align-items: center;
}


.search-input {
    border: 1px solid #ccc;
    height: 32px;
    margin: 10px 0;
    width: 300px;
    padding: 8px;
    border-radius: 4px;
    font: inherit;
}

/* Search form */
#upload-form {
    display: flex;
    gap: 10px;
    max-width: 600px;
    margin: 0 10px;
    align-items: center;
}



.col-index {
    width: 5%;
}
.col-time-created {
    width: 25%
}
.col-computer {
    width: 15%
}
.col-channel {
    width: 35%
}
.col-event-id {
    width: 10%
}
.col-select-all {
    width: 15%
}