<!DOCTYPE html>
<html>
<head>
    <title>EDR Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
</head>
</head>
<body>
    <div class="container">
        <div class="sidebar-navi">
            <a href="{% url 'dashboard' %}" class="sidebar-link">Dashboard</a>
            <a href="{% url 'alerts' %}" class="sidebar-link">Alerts</a>
            <a href="{% url 'events' %}" class="sidebar-link">Events</a>
            <a href="{% url 'rules' %}" class="sidebar-link">Rules</a>
        </div>
        <div class="content">
            <p>Welcome to the dashboard!</p>
            <p>This is your EDR system dashboard. Navigate using the menu above.</p>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</html>