
{% extends 'global.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'dashboard/css/styles.css' %}">
    <link rel="stylesheet" href="{% static 'dashboard/css/chart.css' %}">
{% endblock %}


{% block content %}
    <div class="dashboard-container">
        <h1>Dashboard</h1>
        
        <div class="alert-distribution">
            <h2>Alerts Distribution</h2>
            <div class="chart-container">
                <canvas id="alertChart" data-chart='{{ alert_chart_data|safe }}'></canvas>
            </div>
        </div>
        
        <div class="events-summary">
            <h2>Events Summary</h2>
            <div class="events-chart-container">
                <canvas id="eventsChart" data-chart='{{ events_chart_data|safe }}'></canvas>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="{% static 'dashboard/js/scripts.js' %}"></script>
{% endblock %}