
{% extends 'global.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'alerts/css/styles.css' %}">
{% endblock %}

{% block content %}
    <h1>Alerts</h1>
    <div class="actions-container">
        <form id="search-form" action="{% url 'search_alerts' %}">
            <input class='search-input' type="text" id="search" name="query" placeholder="Search alerts">
            <button type="submit" id="search-button">Search</button>
        </form>
    </div>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th class="col-index">Index</th>
                    <th class="col-time-filtered">Time Filtered</th>
                    <th class="col-title">Title</th>
                    <th class="col-level">Level</th>
                    <th class="col-computer">Computer</th>
                    <th class="col-event-id">Event ID</th>
                </tr>
            </thead>
            <tbody>
                {% for item in item_page %}
                <tr id="alert/{{item.rule_id}}/{{ item.event_universal_id }}" action="{% url 'get_alert' %}">
                    <td>{{ forloop.counter0|add:item_page.start_index}}</td>
                    <td>{{ item.time_filtered }}</td>
                    <td>{{ item.title }}</td>
                    <td class="level-{% if item.level.lower == 'low' %}low{% elif item.level.lower == 'medium' %}medium{% elif item.level.lower == 'high' %}high{% endif %}">
                        {{ item.level }}
                    </td>
                    <td>{{ item.computer }}</td>
                    <td>{{ item.event_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="table-pagination">
        <span class="step-links">
            {% if item_page.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ item_page.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ item_page.number }} of {{ item_page.paginator.num_pages }}.
            </span>

            {% if item_page.has_next %}
                <a href="?page={{ item_page.next_page_number }}">next</a>
                <a href="?page={{ item_page.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}

{% block extra_html %}
    <div class="sidebar-info" style="display: none;">
        <h2>Alert Details</h2>
        <h3>Rule: </h3>
        <h4 class="sidebar-info-title"></h4>
        <pre class="sidebar-info-description"></pre>
        <a class="sidebar-info-link">View Rule</a>
        <h3>Event: </h3>
        <pre class="sidebar-info-json"></pre>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'alerts/js/scripts.js' %}"></script>
{% endblock %}
