

{% extends 'global.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'rules/css/styles.css' %}">
{% endblock %}

{% block content %}
    <div class="rule-container">
        <h2>New Rule</h2>
        <textarea id="yaml-content">{{ yaml_content }}</textarea>
        <div class="button-bar">
            <button id="add-button" action="{% url 'add_rule' %}">Save</button>
            <button id="cancel-button">Cancel</button>
        </div>
    </div>

{% endblock %}

{% block extra_html %}

{% endblock %}

{% block extra_js %}
    <script src="{% static 'rules/js/scripts.js' %}"></script>
{% endblock %}
